# Example VBC configuration (all options commented).
# Un-comment and edit only the settings you want to override.
#
# input_dirs:
#   - /path/to/videos
#   - /path/to/folder with spaces
#
# # When using output_dirs, set suffix_output_dirs to null.
# output_dirs:
#   - /path/to/videos_out
#   - /path/to/folder with spaces_out
#
# suffix_output_dirs: _out
# suffix_output_dirs: null
#
# # When using errors_dirs, set suffix_errors_dirs to null.
# errors_dirs:
#   - /path/to/videos_err
#   - /path/to/folder with spaces_err
#
# suffix_errors_dirs: _err
# suffix_errors_dirs: null
#
# general:
#   threads: 1
#   cq: 44
#   prefetch_factor: 1
#   gpu: true
#   gpu_refresh_rate: 5
#   # queue_sort options: name | rand | dir | size | size-asc | size-desc | ext
#   queue_sort: name
#   queue_seed: null
#   log_path: /tmp/vbc/compression.log
#   cpu_fallback: false
#   ffmpeg_cpu_threads: null
#   copy_metadata: true
#   use_exif: true
#   filter_cameras: []
#   dynamic_cq:
#     "DJI OsmoPocket3": 40
#     "DC-GH7": 35
#     "ILCE-7RM5": 35
#   extensions:
#     - mp4
#     - flv
#     - webm
#     - mov
#     - mkv
#   min_size_bytes: 1048576
#   clean_errors: false
#   skip_av1: false
#   strip_unicode_display: true
#   manual_rotation: null
#   min_compression_ratio: 0.1
#   debug: false
#
# autorotate:
#   patterns:
#     "QVR_\\d{8}_\\d{6}\\.mp4": 180
#
# gpu_config:
#   enabled: true
#   refresh_rate: 5
#   sample_interval_s: 10.0
#   history_window_s: 300.0
#   nvtop_device_index: 0
#   nvtop_device_name: null
#
# ui:
#   activity_feed_max_items: 5
#   active_jobs_max_display: 8
#   panel_height_scale: 0.7
